<ul class="nav nav-tabs">
    <li class="nav-item">
      <a [routerLink]="['/user-profile', userid]" class="nav-link active">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Goals</a>
      <div class="dropdown-menu">
          <a [routerLink]="['/new-goal']" class="dropdown-item" href="#">New Goal</a>
        <div class="dropdown-divider"></div>
        <a (click)="routeToAllGoals()" class="dropdown-item">All Goals</a>
      </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/health-tips']">Tips</a>
      </li>
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['']" (click)="logout()">Sign Out</a>
    </li>
    
    <li class="nav-item">

    </li>
  </ul>