<div class="container"
     style="text-align:center">
  <br>
    <h4>Hello! Let's Get You</h4><img width="300" src='..\assets\img\logo.jpg'>
    <br>
    <br>
    <div class="text-white">
        <div class="row mt-1 mt-md-1">
            <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">
                <div class="card bg-dark img text-white">
                    <br>
                  <h4>
                    <p class="font-weight-bolder text-monospace">Life's a journey, <br> stay on track...</p>
                  </h4>
                  <br>
                        <form #newUserForm ="ngForm" (ngSubmit)="newUseronSubmit()">
                            <div class="form-group">
                                <label for="inputFName">First Name</label>
                                <input type="text"
                                        class="form-control"
                                        placeholder="Enter First Name"
                                        id="inputFName"
                                        aria-describedby="emailHelp"
                                        #name = "ngModel"
                                        [(ngModel)]="user.firstName"
                                        name="firstName"
                                        required>
                            </div>
                            <div class="form-group">
                                <label for="inputLName">Last Name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="inputLName"
                                        placeholder="Enter Last Name"
                                        #name= "ngModel"
                                        [(ngModel)]="user.lastName"
                                        name="lastName"
                                        required>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email address</label>
                                <input type="text"
                                        class="form-control"
                                        placeholder="Enter Email"
                                        id="inputEmail"
                                        aria-describedby="emailHelp"
                                        #name ="ngModel"
                                        [(ngModel)]="user.email"
                                        name="email"
                                        required>
                            </div>
                            <div class="form-group">
                                <label for="inputLName">Password</label>
                                <input type="password"
                                        class="form-control"
                                        id="inputPassword"
                                        placeholder="Enter Password"
                                        #name = "ngModel"
                                        [(ngModel)]="user.password"
                                        name="password"
                                        required>
                            </div>
                            <button type="submit"
                                class="btn btn-info">Create New User</button>
                                <!--<h4>-->
                                    <!--<a [routerLink]="['/user-profile']"-->
                                        <!--class="badge badge-pill badge-info"-->
                                        <!--rel="noopener">Login-->
                                    <!--</a>-->
                                <!--</h4>-->
                        </form>    
                    </div>
            </div>
        </div>
    </div>
</div>
