<div class="container" style="text-align:center">
  <br>
  <br>
  <h3>{{ firstName }}! You Are</h3><img width="300" src='..\assets\img\logo.jpg'>
  <br>
  <br>
    <div class="text-white">
      <div class="row mt-1 mt-md-1">
      <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">
        <app-header></app-header>
          <div class="card bg-dark img text-white">
            <br>
                <div class="list-group">
                  <div class="list-group-item list-group-item-action" *ngFor="let goal of goals">
                    <div class="d-flex w-100 justify-content-center">
                      <h5 class="mb-1">{{ goal.title }} {{ goal.target }} {{ goal.unit }} per day</h5>
                      <small class="text-muted">{{ goal.date | date : 'dd/MM/yy'  }}</small>
                    </div>
                      <p class="text-muted">{{ goal.category }}</p>
                      <button class="btn btn-info" (click)="setCurrGoal(goal)" [routerLink]="['/single-goal', goal.goalId]">View Details/New Entry</button>
                  </div>
                </div>
                <br><button class="btn btn-info" [routerLink]="['/new-goal']">Make a new goal</button>
            </div>
        </div>
        </div>
      </div>
</div>
<br>



