<div class="container" style="text-align:center">
    <br>
    <br>
      <h3>Tips to keep you</h3><img width="300" src='..\assets\img\logo.jpg'>
    <br>
    <br>
          <div class="row mt-1 mt-md-1">
              <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">
                  <app-header></app-header>
                      <div class="card bg-dark img text-white">
                         <br>
                         <br>
                         <img src="../assets/img/icons.png" class="card-img-top " alt="..." >
                         <br>
                         <ul class="list-group list-group-info text-monospace text-left">
                            <li>Drink 8oz of water a day</li>
                            <li>Get 8 hours of sleep each night</li>
                            <li>Excercise at least 20 minutes a day</li>
                            <li>Eat Vegetables & Fruits</li>
                            <li>Practice mindfulness</li>
                          </ul>

                       
              </div> 
          </div>
      </div>
  </div>
  
  
  
  
  
